<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script src="https://apis.google.com/js/platform.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
		<div class="g-ytsubscribe" data-channelid="UCEAo2yXmMFcYdmxsX_s46qw" data-layout="full" data-count="hidden"></div>
		<p>&nbsp;<br/><a href="https://www.patreon.com/bePatron?u=2359579" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script></p>
		<p>Note: <em>gmparty</em> was on hiatus, and will be returning soon. Thank you for your patience!</p>
		<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=160&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=berdan.ca_8flmol0a2n9nuv8sjfv93umsh8%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FToronto" style="border-width:0" width="325" height="160" frameborder="0" scrolling="no"></iframe>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
		  <p>
			<small>YouTube: <a href="http://youtube.com/c/gmparty">youtube.com/c/gmparty</a></small><br/>
			<small>Patreon: <a href="http://patreon.com/gmparty">patreon.com/gmparty</a></small><br/>
			<small>Twitter: <a href="http://twitter.com/GameMakerParty">@GameMakerParty</a></small><br/>
		  </p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
